@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*________________ Pages Menus ___________________*/
@keyframes slideMenu {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideCheck {}
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  box-shadow: 0px 3px 3px 1px #cac9c9;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
  margin: 10px 0 3px;
  padding-bottom: 8px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-menu__retour {
  margin-right: 3rem;
  position: absolute;
  left: 20px;
  font-size: 1.6rem;
}
.header-menu__retour a {
  color: black;
}
.header-menu__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
  margin: 10px 0 3px;
  padding-bottom: 8px;
}

/* section accuiel*/
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae6e6;
  width: 100%;
  height: 55px;
}
.localisation__form {
  margin-left: 95px;
}
.localisation__icon {
  font-size: 1.3rem;
  padding-right: 12px;
}
.localisation__search-input {
  border: none;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #eae6e6;
  padding: 0;
}

.descriptif {
  background-color: #f4f4f4;
  width: 100%;
  height: 280px;
}
.descriptif__title {
  text-align: center;
  padding: 30px 55px 15px;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.descriptif__paragraphe {
  text-align: center;
  margin: 0 2rem;
  font-weight: 300;
}

/*section Fonctionnement*/
.fonction__container {
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fonction {
  width: 95%;
  max-width: 1200px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.fonction__title {
  margin: 0;
  padding-left: 10px;
}

.fonction-list__choice {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  height: auto;
  width: auto;
  margin: 25px 20px 25px;
  padding: 5px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.13);
}
.fonction-list__choice:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.2);
  background: #f2e7ff;
}
.fonction-list__number {
  background-color: #9356dc;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.fonction-list__icon {
  color: #8d8686;
  margin: 0 20px 0 30px;
}
.fonction-list__text {
  font-weight: 700;
}

/* section restaurants*/
.section-restaurants {
  background-color: #f4f4f4;
  margin-top: 50px;
  padding-bottom: 50px;
}
.section-restaurants__titre {
  font-size: 1.6rem;
  font-weight: 800;
  padding: 50px 15px 20px;
  margin: 0;
}
.section-restaurants a {
  text-decoration: none;
  color: inherit;
}
.section-restaurants__containerflex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin: 0 15px;
}
.section-restaurants__card {
  position: relative;
  width: 100%;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.section-restaurants__card__img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.section-restaurants__card__new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 240px;
  color: rgb(35, 141, 100);
  font-weight: 700;
  background-color: #99E2D0;
  width: 90px;
  height: 28px;
  border-radius: 2px;
}
.section-restaurants__card__nom-resto {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 37px;
  margin-left: 8px;
}
.section-restaurants__card__nom-plat {
  margin-left: 8px;
  font-size: 1rem;
}

.footer {
  background-color: rgb(59, 55, 55);
}
.footer__titre {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-weight: 200;
  margin: 0;
  padding: 20px 20px 0;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 20px;
}
.footer p {
  margin: 0;
}
.footer li {
  padding-bottom: 10px;
}
.footer a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
.footer__icon-utensils {
  padding-right: 10px;
}
.footer__icon-hand {
  font-size: small;
  padding-right: 8px;
}

.photo-menu {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  position: relative;
  top: -10px;
}

.pages-menus {
  background-color: #f4f4f4;
  border-radius: 20px 20px 0 0;
  position: relative;
  top: -100px;
}

.menus-en-tete {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menus-en-tete__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
}

/*_______ card-menus _____*/
.container-entrees,
.container-Plats,
.container-desserts {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.container-entrees__titre,
.container-Plats__titre,
.container-desserts__titre {
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 15px;
}
.container-entrees__titre::after,
.container-Plats__titre::after,
.container-desserts__titre::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #99E2D0;
}
.container-entrees__card,
.container-Plats__card,
.container-desserts__card {
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: 70px;
  margin: 0;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  animation: slideMenu 3s;
  /*@keyframes*/
}
.container-entrees__card .menu:hover,
.container-Plats__card .menu:hover,
.container-desserts__card .menu:hover {
  transform: scale(1.8);
}
.container-entrees__intitule,
.container-Plats__intitule,
.container-desserts__intitule {
  margin: 0;
  padding: 10px 10px 0;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-entrees__descriptif,
.container-Plats__descriptif,
.container-desserts__descriptif {
  display: flex;
  width: 100%;
}
.container-entrees__accompagnement,
.container-Plats__accompagnement,
.container-desserts__accompagnement {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-entrees__prix,
.container-Plats__prix,
.container-desserts__prix {
  position: absolute;
  left: 325px;
  font-weight: bold;
}

.button-explorez {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 40px;
}
.button-explorez__btn--gradient {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 50px;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.27);
  transform: scale(1);
  transition: transform 0.3s;
}
.button-explorez__btn--gradient:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px 2px rgba(1, 1, 1, 0.4);
}

.button-commander {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.button-commander__btn--gradient {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 50px;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.27);
  transform: scale(1);
  transition: transform 0.3s;
}
.button-commander__btn--gradient:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px 2px rgba(1, 1, 1, 0.4);
}

.heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.heart-full {
  position: absolute;
  fill: url(#remplissageGradient);
  stroke: none;
  left: 280px;
  top: 230px;
}

.heart-empty {
  width: 30px;
  position: relative;
  left: 280px;
  top: -30px;
}
.heart-empty:active {
  opacity: 0;
  transition: 0.3s;
}

/* coeurs menus */
.coeurs-menus {
  position: relative;
}

.heart-full-menus {
  position: absolute;
  fill: url(#remplissageGradient);
  stroke: none;
  left: -70px;
  top: -15px;
}

.heart-empty-menus {
  width: 30px;
  position: absolute;
  left: -70px;
  top: -15px;
}
.heart-empty-menus:active {
  opacity: 0;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
