@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*________________ Pages Menus ___________________*/
/*___ Effet apparition card-menus ___*/
@keyframes apparitonMenu {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*_____ slide check (icon) _____*/
@keyframes check {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
/*_____________ Loader _____________*/
/*___ Evaporation du loader ___*/
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*___ Effet logo ohmyfood loader ___*/
@keyframes rotate-ohmyfood {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
/*___ Loader cercles ___*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  box-shadow: 0px 3px 3px 1px #cac9c9;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
  margin: 10px 0 3px;
  padding-bottom: 8px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-menu__retour {
  margin-right: 3rem;
  position: absolute;
  left: 20px;
  font-size: 1.6rem;
}
.header-menu__retour a {
  color: black;
}
.header-menu__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
  margin: 10px 0 3px;
  padding-bottom: 8px;
}

/*_____ section accuiel _____*/
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae6e6;
  width: 100%;
  height: 55px;
}
.localisation form {
  margin-left: 95px;
}
.localisation i {
  font-size: 1.3rem;
  padding-right: 4px;
}
.localisation__search-input {
  border: none;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #eae6e6;
  padding: 0;
}

.descriptif {
  background-color: #f4f4f4;
  width: 100%;
  height: 280px;
}
.descriptif__title {
  text-align: center;
  padding: 30px 55px 15px;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.descriptif__paragraphe {
  text-align: center;
  margin: 0 2rem;
  font-weight: 300;
}

/*_____ section Fonctionnement _____*/
.fonction-container {
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fonction {
  width: 95%;
  max-width: 1200px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.fonction__title {
  margin: 0;
  padding-left: 10px;
}
@media screen and (min-width: 763px) {
  .fonction__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 763px) {
  .fonction-list {
    display: flex;
    justify-content: space-around;
  }
}
.fonction-list__choice {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  height: auto;
  width: auto;
  margin: 25px 20px 25px;
  padding: 5px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.13);
}
@media screen and (min-width: 763px) {
  .fonction-list__choice {
    padding: 5px 20px;
  }
}
.fonction-list__choice:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.2);
  background: #f2e7ff;
}
.fonction-list__choice:hover .icon {
  color: #9356dc;
}
.fonction-list__number {
  background-color: #9356dc;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.fonction-list .icon {
  color: #8d8686;
  margin: 0 20px 0 30px;
}
.fonction-list p {
  font-weight: 700;
}

/* section restaurants*/
.section-restaurants {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .section-restaurants {
    border-radius: 20px;
    max-width: 1250px;
    margin: auto;
    margin-bottom: 50px;
  }
}
.section-restaurants__titre {
  font-size: 1.6rem;
  font-weight: 800;
  padding: 50px 15px 20px;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .section-restaurants__titre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    font-size: 2.2rem;
  }
}
.section-restaurants a {
  text-decoration: none;
  color: inherit;
}
.section-restaurants__containerflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 0 15px;
}
@media only screen and (min-width: 768px) {
  .section-restaurants__containerflex {
    gap: 6rem;
    margin: 0;
  }
}
.section-restaurants__card {
  max-width: 450px;
  position: relative;
  width: 100%;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.06);
}
.section-restaurants img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.section-restaurants__card__new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 20px;
  color: rgb(35, 141, 100);
  font-weight: 700;
  background-color: #99e2d0;
  width: 90px;
  height: 28px;
  border-radius: 2px;
}
.section-restaurants__card__nom-resto {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 37px;
  margin-left: 8px;
}
.section-restaurants__card__nom-plat {
  margin-left: 8px;
  font-size: 1rem;
}

.footer {
  background-color: rgb(59, 55, 55);
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 20px;
  }
}
.footer__titre {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-weight: 200;
  margin: 0;
  padding: 20px 20px 0;
}
@media only screen and (min-width: 768px) {
  .footer__titre {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .footer__list {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 20px;
  }
}
.footer p {
  margin: 0;
}
.footer li {
  padding-bottom: 10px;
}
.footer a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}
.footer__icon-utensils {
  padding-right: 10px;
}
.footer__icon-hand {
  font-size: small;
  padding-right: 8px;
}

.photo-menus {
  height: 230px;
}
.photo-menus img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .photo-menus img {
    height: 300px;
  }
}

.pages-menus {
  background-color: #f4f4f4;
  border-radius: 25px 25px 0 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .pages-menus {
    margin: auto;
    max-width: 1050px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(128, 128, 128, 0.431372549);
  }
}

.menus-en-tete {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .menus-en-tete {
    justify-content: space-around;
  }
}
.menus-en-tete__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
}

/*_______ card-menus _____*/
.container-entrees,
.container-Plats,
.container-desserts {
  /* animation slide check */
  /* Fin animation slide check */
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.container-entrees > div:nth-child(2),
.container-Plats > div:nth-child(2),
.container-desserts > div:nth-child(2) {
  animation: apparitonMenu 1s both;
}
.container-entrees > div:nth-child(3),
.container-Plats > div:nth-child(3),
.container-desserts > div:nth-child(3) {
  animation: apparitonMenu 1s 300ms both;
}
.container-entrees > div:nth-child(4),
.container-Plats > div:nth-child(4),
.container-desserts > div:nth-child(4) {
  animation: apparitonMenu 1s 600ms both;
}
.container-entrees > div:nth-child(5),
.container-Plats > div:nth-child(5),
.container-desserts > div:nth-child(5) {
  animation: apparitonMenu 1s 900ms both;
}
.container-entrees__titre,
.container-Plats__titre,
.container-desserts__titre {
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 5px;
}
.container-entrees__titre::after,
.container-Plats__titre::after,
.container-desserts__titre::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #99e2d0;
}
@media only screen and (min-width: 768px) {
  .container-entrees,
.container-Plats,
.container-desserts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: 70px;
  margin: 0;
  margin-bottom: 1.5rem;
  cursor: pointer;
  animation: apparitonMenu 2s; /*@keyframes*/
}
.menu-card:active > .menu-card__check {
  transform: translateX(-5px);
}
.menu-card:active > .menu-card__price {
  transform: translateX(-10px);
  margin-left: 20px;
}
.menu-card:active > .menu-card__check i {
  animation: check 400ms 200ms both;
}
@media only screen and (min-width: 768px) {
  .menu-card {
    width: 50%;
  }
  .menu-card:hover > .menu-card__check {
    transform: translateX(-5px);
  }
  .menu-card:hover > .menu-card__price {
    transform: translateX(-10px);
    margin-left: -15px;
  }
  .menu-card:hover > .menu-card__check i {
    animation: check 400ms 200ms both;
  }
}
.menu-card__description {
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}
.menu-card__description h4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding: 10px 0 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card__description p {
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card__price {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: -50px;
  padding-top: 33px;
  padding-right: 10px;
  transform: translateX(50px);
  transition: all 600ms;
}
.menu-card__check {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-shrink: 0;
  padding: 0 25px;
  margin-right: -10px;
  transform: translateX(150px);
  transition: all 600ms;
}
.menu-card__check i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: white;
}

.button-explorez {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 40px;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.button-explorez__btn--gradient {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 50px;
  background-image: linear-gradient(175deg, #ff79da, #9356dc);
  border: none;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.27);
  transform: scale(1);
  transition: transform 0.3s;
}
.button-explorez__btn--gradient:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px 2px rgba(1, 1, 1, 0.4);
  opacity: 0.7;
}

.button-commander {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 35px;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.button-commander__btn--gradient {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 50px;
  background-image: linear-gradient(175deg, #ff79da, #9356dc);
  border: none;
  box-shadow: 0 8px 16px 0 rgba(1, 1, 1, 0.27);
  transform: scale(1);
  transition: transform 0.3s;
}
.button-commander__btn--gradient:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px 2px rgba(1, 1, 1, 0.4);
  opacity: 0.7;
}

.heart-accueil {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.heart-menus {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .heart-menus {
    right: 90px;
  }
}

.fa-heart:active {
  background: linear-gradient(175deg, #ff79da, #9356dc);
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 1;
  transition: 0.7s;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  background-color: black;
  cursor: wait;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  animation-fill-mode: forwards;
  animation: disappearance 3s linear both;
  /*___ logo ohmyfood ___*/
  /*___ cercles ___*/
}
.loader p {
  font-family: "Shrikhand", cursive;
  background-image: linear-gradient(175deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  padding: 0 5px;
  font-size: 4rem;
  animation: rotate-ohmyfood 1s ease 0s 1 normal none;
}
.loader span {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  animation: spin 1s linear infinite;
}
.loader span::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border: 3px solid transparent;
  border-top-color: #fff;
  border-radius: 50px;
  opacity: 0.8;
  animation: spin 10s linear infinite;
}
.loader span::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  border-radius: 50px;
  opacity: 0.8;
  animation: spin 5s linear infinite;
}

/*# sourceMappingURL=style.css.map */
