/* coeur page d'accueil */
.heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.coeur-homepage {
  position: relative;
}
.heart-full {
  position: absolute;
  fill: url(#remplissageGradient);
  stroke: none;
  right: 10px;
  bottom: 10px;
}
.heart-empty {
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  &:active {
    opacity: 0;
    transition: 0.3s;
  }
}

/* coeurs menus */

.coeurs-menus {
  position: relative;
}
.heart-full-menus {
  position: absolute;
  fill: url(#remplissageGradient);
  stroke: none;
  right: 10px;
  top: -15px;
}
.heart-empty-menus {
  width: 30px;
  position: absolute;
  right: 10px;
  top: -15px;
  &:active {
    opacity: 0;
    transition: 0.3s;
  }
}
