/*___ Effet apparition card-menus ___*/

@keyframes apparitonMenu {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*_____ slide check (icon) _____*/

@keyframes check {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

/*_____________ Loader _____________*/

/*___ Evaporation du loader ___*/

@keyframes disappearance {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*___ Effet logo ohmyfood loader ___*/

@keyframes rotate-ohmyfood {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

/*___ Loader cercles ___*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
