$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-grey: #f4f4f4;
$color-dark-grey: rgb(59, 55, 55);

$shadow-accueil: 0px 3px 3px 1px #cac9c9;
$shadow-basic: 0 8px 16px 0 rgba(1, 1, 1, 0.2);

$font_logo-title: 'Shrikhand', cursive;