$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-light-grey: #f4f4f4;
$color-dark-grey: rgb(59, 55, 55);
$color-linear-gradient: linear-gradient(
  175deg,
  $color-secondary,
  $color-primary
);

$shadow-accueil: 0px 3px 3px 1px #cac9c9;
$shadow-basic: 0 8px 16px 0 rgba(1, 1, 1, 0.2);

$font_logo-title: "Shrikhand", cursive;

$medium-up: "only screen and (min-width: 768px)";
