$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-grey: #f4f4f4;
$color-dark-grey: rgb(59, 55, 55);

$shadow-accueil: 0px 3px 3px 1px #cac9c9;

$font_logo-title: 'Shrikhand', cursive;