/*_______ card-menus _____*/

.container-entrees,
.container-Plats,
.container-desserts {
  /* animation slide check */
  & > div:nth-child(2) {
    animation: apparitonMenu 1s both;
  }
  & > div:nth-child(3) {
    animation: apparitonMenu 1s 300ms both;
  }
  & > div:nth-child(4) {
    animation: apparitonMenu 1s 600ms both;
  }
  & > div:nth-child(5) {
    animation: apparitonMenu 1s 900ms both;
  }
  /* Fin animation slide check */

  margin: 10px;
  @include flex-column;

  &__titre {
    @include titres-menus;
  }

  @media #{$medium-up} {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  @include card-menus;
  animation: apparitonMenu 2s; /*@keyframes*/

  &:active > .menu-card__check {
    transform: translateX(-5px);
  }
  &:active > .menu-card__price {
    transform: translateX(-10px);
    margin-left: 20px;
  }
  &:active > .menu-card__check i {
    animation: check 400ms 200ms both;
  }

  @media #{$medium-up} {
    width: 50%;
    &:hover > .menu-card__check {
      transform: translateX(-5px);
    }
    &:hover > .menu-card__price {
      transform: translateX(-10px);
      margin-left: -15px;
    }
    &:hover > .menu-card__check i {
      animation: check 400ms 200ms both;
    }
  }

  &__description {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    h4 {
      font-weight: 700;
      font-size: 1rem;
      margin: 0;
      padding: 10px 0 10px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      margin: 0;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__price {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: -50px;
    padding-top: 33px;
    padding-right: 10px;
    transform: translateX(50px);
    transition: all 600ms;
  }
  &__check {
    background-color: $color-tertiary;
    border-radius: (0 15px 15px 0);
    display: flex;
    flex-shrink: 0;
    padding: 0 25px;
    margin-right: -10px;
    transform: translateX(150px);
    transition: all 600ms;

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: x-large;
      color: white;
    }
  }
}
