/* section accuiel*/
.localisation {
  @include flex-center;
  background-color: #eae6e6;
  width: 100%;
  height: 55px;

  &__form {
    margin-left: 95px;
  }
  &__icon {
    font-size: 1.3rem;
    padding-right: 4px;
  }
  &__search-input {
    border: none;
    font-weight: 300;
    font-size: 1.2rem;
    background-color: #eae6e6;
    padding: 0;
  }
}

.descriptif {
  background-color: $color-light-grey;
  width: 100%;
  height: 280px;

  &__title {
    text-align: center;
    padding: 30px 55px 15px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  &__paragraphe {
    text-align: center;
    margin: 0 2rem;
    font-weight: 300;
  }
}

/*section Fonctionnement*/

.fonction__container {
  padding: 40px 0;
  width: 100%;

  @include flex-column;
  justify-content: center;
  align-items: center;
}

.fonction {
  width: 95%;
  max-width: 1200px;
  padding: 0;
  @include flex-column;

  &__title {
    margin: 0;
    padding-left: 10px;
  }
}

.fonction-list {
  @media screen and (min-width: 993px) and (max-width: 1400px) {
    display: flex;

    flex-direction: column;
  }

  &__choice {
    display: flex;
    align-items: center;
    background: $color-light-grey;
    height: auto;
    width: auto;
    margin: 25px 20px 25px;
    padding: 5px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 8px 16px 0 rgb(1 1 1 / 13%);
    &:hover {
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: $shadow-basic;
      background: #f2e7ff;
    }
  }

  &__number {
    background-color: #9356dc;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    transform: translateX(-50%);
  }

  &__icon {
    color: #8d8686;
    margin: 0 20px 0 30px;
  }

  &__text {
    font-weight: 700;
  }
}

/* section restaurants*/

.section-restaurants {
  background-color: $color-light-grey;
  margin-top: 50px;
  padding-bottom: 50px;

  &__titre {
    font-size: 1.6rem;
    font-weight: 800;
    padding: 50px 15px 20px;
    margin: 0;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
  &__containerflex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    margin: 0 15px;
  }

  &__card {
    position: relative;
    width: 100%;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
  }

  &__card__img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  &__card__new {
    @include flex-center;
    @include button-new;
  }

  &__card__nom-resto {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 37px;
    margin-left: 8px;
  }

  &__card__nom-plat {
    margin-left: 8px;
    font-size: 1rem;
  }
}
