/*_______ card-menus _____*/

.container-entrees,
.container-Plats,
.container-desserts {
  @media #{$medium-up} {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  margin: 10px;
  @include flex-column;

  &__titre {
    @include titres-menus;
  }
}
.menu-card {
  @media #{$medium-up} {
    width: 50%;
  }

  display: flex;
  justify-content: space-between;
  @include card-menus;
  animation: slideMenu 2s; /*@keyframes*/

  // .menu-card:hover {
  //   transform: scale(1.8);
  // }
  &__description {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    h4 {
      font-weight: 700;
      font-size: 1rem;
      margin: 0;
      padding: 10px 0 10px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      margin: 0;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__price {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 33px;
  }
  &__check {
    background-color: $color-tertiary;
    border-radius: (0 15px 15px 0);
    color: white;
    display: flex;
    align-items: center;
    transition: 300ms ease-in-out;
    flex-shrink: 0;
    width: 10px;
    margin-right: -10px;
  }
}
